@font-face {
  font-family: "Plush";
  src: url("/fonts/Plush-Trial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plush";
  src: url("/fonts/Plush-Trial-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plush";
  src: url("/fonts/Plush-Trial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plush";
  src: url("/fonts/Plush-Trial-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Plush";
  src: url("/fonts/Plush-Trial-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plush", sans-serif;
}
